<div class="container">
	<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">Select an option:</p>
    <p>
    	<a class="btn btn-lg btn-success" href="#" role="button">Report a Visit</a>  
    	<a class="btn btn-lg btn-success" href="#" role="button">View Your Schools</a>
    </p>
  </div>
</div>