<h1>Listing schools in <%= @district.jurisdiction_name %></h1>
  <div class="row">
  <% @schools.each do |school| %>
    <div class="col-xs-6 col-lg-4">
      <h3><%= school.name%></h3>
      <p><%= school.street_address%> </p>
      <p><a class="btn btn-default" href="#" role="button"><%= link_to 'Show', district_school_path(@district.id,school.id)%> &raquo;</a></p>
    </div>
  <% end %>
  </div>
<br>
